@import '../../styles/vars';

.menu {
    text-align: center;
    padding: $gutter;
    border-bottom: 1px solid $alt-color;

    .menu-link {
        margin: 0 1rem;
        color:  $dark-color;
        cursor: pointer;

        &:hover, &--active {
            color: $primary-color;
        }

    }
}