@import '../../styles/vars';

.menu {
    font-weight: 600;
    text-align: center;
    padding: $gutter;
    border-bottom: 1px solid $alt-color;

    .menu-link {
        margin: 0 1rem;
        color:  $dark-color;
        cursor: pointer;
        transition-duration: 350ms;
        transition-property: color;

        &:hover, &--active {
            color: $primary-color;
            transition-duration: 350ms;
            transition-property: color;
        }

    }
}